<div class="panel">
  <ng-content select="[media]"></ng-content>
  <div class="project-info" data-aos="fade-left">
    <h2 class="project-title">
      <span class="title-text golden-text">
        {{ title }}
      </span>
    </h2>
    <mat-divider></mat-divider>
    <ul class="project-features">
      <li *ngFor="let feature of features" #project_feature_li>
        <div class="project-features-bullet">
          <div class="project-features-bullet-icon"></div>
        </div>
        <span>
          {{feature}}
        </span>
      </li>
    </ul>
  </div>
</div>
