<div class="panel">
  <ng-content select="[media]"></ng-content>
  <div class="project-info" data-aos="fade-left">
    <p class="project-title">
      <span class="golden-text">
        {{ title }}
      </span>
    </p>
    <mat-divider></mat-divider>
    <ul class="project-features">
      <li *ngFor="let feature of features"> {{feature}} </li>
    </ul>
    <mat-divider></mat-divider>
    <p class="project-more"> Learn about the technologies used <a [routerLink]="route">here</a> </p>
  </div>
</div>
