.panel
  width: fit-content
  margin: 50vh auto 50vh
  display: flex
  align-items: center
  flex-wrap: wrap
  gap: 20px
  .project-info
    max-width: 80%
    margin: auto
    mat-divider
      border-top-color: rgba(255,255,255,0.5)
    .project-title
      font-size: 3rem
      line-height: 2.5rem
      text-align: center
      margin-top: 10px
      margin-bottom: 20px
      filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5))
    .project-features
      list-style-type: disc
      font-size: 1.2rem
      line-height: 1.8rem
      font-weight: 300
      padding-inline-start: 1.5rem
      padding-inline-end: 1rem
    .project-more
      font-size: 1rem
      opacity: 0.5
      margin: 10px 10px
      text-align: left
      a
        color: white

