<p id="first-title" class="section-title" experienceProgressAnchor="Web Development"> WEB DEVELOPMENT </p>
<mat-divider></mat-divider>
<experience-section-panel title="Front-End"
                          [technologies]="frontEndTechnologies"></experience-section-panel>
<experience-section-panel title="Back-End"
                          [technologies]="backEndTechnologies"></experience-section-panel>
<experience-section-panel title="Cloud"
                          [technologies]="cloudServices"></experience-section-panel>
<mat-divider></mat-divider>
<p class="section-title" experienceProgressAnchor="Game Development"> GAME DEVELOPMENT </p>
<mat-divider></mat-divider>
<experience-section-panel title="Software"
                          [technologies]="gameDevTechnologies"></experience-section-panel>
<mat-divider></mat-divider>
<p class="section-title" experienceProgressAnchor="Robotics"> ROBOTICS </p>
<mat-divider></mat-divider>
<experience-section-panel title="Software"
                          [technologies]="roboticsTechnologies"></experience-section-panel>
<mat-divider></mat-divider>
<p class="section-title" experienceProgressAnchor="Miscellaneous"> MISCELLANEOUS </p>
<mat-divider></mat-divider>
<experience-section-panel title="Languages"
                          [technologies]="programmingLanguages"></experience-section-panel>
<experience-section-panel title="Editing Software"
                          [technologies]="editingTools"></experience-section-panel>

<experience-progress-bar [anchors]="anchors"></experience-progress-bar>
