<div id="wrapper" class="golden-gradient-border-rounded">
  <h3 id="section-title" class="golden-text tit"
     data-aos="zoom-out"
     [ngClass]="title.replace(' ', '-')"> {{ title }} </h3>
  <mat-divider [vertical]="!(mobile.isMobile$ | async)" [ngClass]="{'vertical-divider': !(mobile.isMobile$ | async)}"></mat-divider>
  <div id="technologies">
    <p *ngFor="let technology of technologies; let i = index" class="technology"
       data-aos="fade-left"
       [attr.data-aos-delay]="i * 100"
       [attr.data-aos-anchor]="'.' + title.replace(' ', '-')">
      {{ technology.name }}
      <img class="technology-icon" [src]="'static-images/icons/' + technology.icon + '.webp' | CDN" [alt]="technology.icon"/>
    </p>
  </div>
</div>
