$welcome-picture-size: 200px
.mobile-welcome-panel
  margin: calc(50vh - $welcome-picture-size / 2 - 2rem) auto 40vh !important
  margin: calc(50svh - $welcome-picture-size / 2 - 2rem) auto 40vh !important
#welcome-panel
  width: fit-content
  margin: 40vh auto 40vh
  margin: 40svh auto 40vh
  display: flex
  align-items: center
  flex-wrap: wrap
  gap: 20px
  #picture
    position: relative
    width: $welcome-picture-size
    height: $welcome-picture-size
    margin: auto
    img
      height: 100%
      width: 100%
      object-fit: cover
      object-position: top
    img, &:before, &:after
      border-radius: 100%
  #info
    font-weight: 200
    margin: auto
    #primary-info
      font-size: 2rem
      margin-bottom: 0
      margin-top: 10px
    #secondary-info
      margin-top: 10px
      font-size: 1rem
      opacity: 0.5
#various-fits-panel
  padding-top: 30px
  $vf-aspect-ratio: 1.92816091954023
  $vf-video-width: 200px
  $vf-video-height: calc($vf-video-width * $vf-aspect-ratio)
  $vf-video-margin-horizontal: 20px
  $vf-video-margin-vertical: 20px
  #vf-video-wrapper
    width: $vf-video-width
    height: $vf-video-height + $vf-video-margin-vertical
    margin: auto
    border-radius: 36px
    video
      position: relative
      width: $vf-video-width + $vf-video-margin-horizontal
      height: calc(($vf-video-width + $vf-video-margin-horizontal) * $vf-aspect-ratio)
      right: calc($vf-video-margin-horizontal / 2)
      bottom: calc($vf-video-margin-vertical / 2)

@mixin hover-zoom
  transform: scale(1)
  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out
  &:hover
    transform: scale(1.1)

#study-panel
  #study-image
    transition: opacity 0.2s ease-in-out
    margin: auto
    $image-size: 250px
    @include hover-zoom
    img
      width: $image-size
      height: $image-size
      background: rgba(255, 255, 255, 0.9)
      border-radius: 15px
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)


#br-panel
  #br-image
    margin: auto
    $robot-image-size: 400px
    $backdrop-color: #121212
    width: $robot-image-size
    height: $robot-image-size
    opacity: 1
    transition: opacity 0.2s ease-in-out
    @include hover-zoom


#asc-panel
  #asc-images
    $asc-image-size: 100px
    text-decoration: none
    color: white
    display: flex
    flex-direction: column
    align-items: center
    margin: auto
    @include hover-zoom
    mat-icon, img
      -webkit-filter: drop-shadow(5px 5px 5px #222)
      filter: drop-shadow(5px 5px 5px #222)
    mat-icon
      transform: scale(2)
      margin-top: 10px
      margin-bottom: 20px
    img
      width: $asc-image-size
      height: $asc-image-size
    #wasm
      margin-bottom: 10px

#qpp-panel
  #qpp-image
    margin: auto
    $qpp-image-size: 200px
    width: $qpp-image-size
    height: $qpp-image-size
    opacity: 1
    transition: opacity 0.2s ease-in-out
    @include hover-zoom
    img
      width: 100%
      height: 100%
      -webkit-filter: drop-shadow(5px 5px 5px #222)
      filter: drop-shadow(5px 5px 5px #222)

#diginesis-panel
  #diginesis-logo
    margin: auto
    padding: 13px 13px 0
    background: white
    border-radius: 10px
    box-shadow: 0 0 10px 0 rgb(0, 0, 0)
    img
      @include hover-zoom


#netlup-panel
  #netlup-logo
    margin: auto
    $backdrop-color: rgb(255, 255, 255)
    img
      cursor: pointer
      filter: drop-shadow(0px 0px 25px $backdrop-color)
      //-webkit-filter: drop-shadow(5px 5px 5px #0b38ec)
      transform: scale(1)
      transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out
    &:hover
      img
        filter: drop-shadow(0px 0px 0px $backdrop-color)
        //  -webkit-filter: drop-shadow(5px 15px 5px #1040e1)
        transform: scale(1.1)

#wordle-panel
  #wordle-images
    text-decoration: none
    display: flex
    gap: 10px
    $letter-height: 2rem
    margin: auto
    div
      width: $letter-height
      height: $letter-height
      padding: 10px
      background: #1cb31c
      color: white
      font-weight: 900
      font-size: $letter-height
      line-height: $letter-height
      text-align: center
    #letter-w
      transition: background 0.2s ease-in-out
    #letter-w::after
      content: "W"
    &:hover
      #letter-w
        background: #e6d623
        &:after
          content: "R"




