<div id="welcome-panel" [ngClass]="{'mobile-welcome-panel': mobile.isMobile$ | async}">
  <div  id="picture">
<!--    <img [src]="'static-images/me.jpeg' | CDN" alt="me" class="golden-gradient-border"/>-->
    <img src="assets/memoji.png" alt="me"/>
  </div>
  <div id="info">
    <p id="primary-info">Hello, my name is <span class="golden-text">Mario</span></p>
    <p id="secondary-info">Learn more about my work below.</p>
  </div>
</div>
<home-project-panel id="various-fits-panel" title="Various Fits"
  [features]="[ 'Helps organize your wardrobe based on personal preference', 'Full-stack web and native app', 'Social media platform', 'Hosted on cloud architecture']">
  <figure id="vf-video-wrapper" class="float" data-aos="fade" data-aos-duration="1000" media>
    <video autoplay loop muted playsinline onloadedmetadata="this.muted = true" oncanplay="this.play()" data-aos="fade-right">
      <!-- Provide the Safari video -->
      <source *ngIf="platform.SAFARI || platform.IOS"
              [src]="'static-other/vf-hevc-safari.mp4' | CDN"
              type='video/mp4; codecs="hvc1"'>
      <!-- .. and the Chrome video -->
      <source *ngIf="platform.WEBKIT || platform.BLINK"
              [src]="'static-other/vf-vp9-chrome.webm' | CDN"
              type="video/webm">

    </video>
  </figure>
</home-project-panel>

<home-project-panel id="asc-panel" title="WebAssembly Text Interpreter"
                    [features]="['Built exclusively with standard Python', 'Supports syntax checking, conditional statements, loops', 'Supports compile-time error checking', 'Supports assertions']">
  <a href="https://github.com/mario-deaconescu/wasm-interpreter" class="hover-zoom" rel="nofollow" id="asc-images" target="_blank" media>
    <img id="python" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Python_logo_01.svg/2048px-Python_logo_01.svg.png" data-aos="fade-right" alt="PYTHON"/>
    <mat-icon aria-hidden="false" aria-label="plus" fontIcon="add" data-aos="fade-right" [attr.data-aos-anchor]="'#python'"></mat-icon>
    <img id="wasm" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/WebAssembly_Logo.svg/1200px-WebAssembly_Logo.svg.png" data-aos="fade-right" [attr.data-aos-anchor]="'#python'" alt="WASM"/>
  </a>
</home-project-panel>

<home-project-panel id="qpp-panel" title="Quantum Computing SDK"
                    [features]="['Built exclusively with standard C++', 'Supports quantum gates, quantum circuits, quantum registers', 'Helpful tools to simulate and debug', 'Full library documentation']">
  <a href="https://github.com/mario-deaconescu/quantum-sdk" rel="nofollow" id="qpp-image" target="_blank" media>
    <img id="qpp" src="assets/q++.svg" data-aos="fade-right" alt="Q++"/>
  </a>
</home-project-panel>

<home-project-panel id="br-panel" title="Robotics Team Leader"
                    [features]="['Lead of programming department', 'Designed and built robots for 4 years', 'Competed in national and international competitions']">
  <a href="https://bionicroyals.com" rel="nofollow" id="br-image" target="_blank" media>
    <app-robot [speed]="0.01"></app-robot>
  </a>
</home-project-panel>

<home-project-panel id="study-panel" title="Studies and Awards"
                    [features]="['Awards at the National Olympiad in Informatics from 2015 to 2021', 'Currently studying Computer Science at the University of Bucharest']">
  <a id="study-image" href="https://fmi.unibuc.ro/" rel="nofollow" target="_blank" media>
    <img [src]="'static-images/university.png' | CDN" data-aos="fade-right" alt="medal"/>
  </a>
</home-project-panel>

<home-project-panel id="diginesis-panel" title="3-Month Paid Internship"
                    [features]="['Summer of 2022', 'Developed a ERP software using Python']">
  <a href="https://www.diginesis.com/ro" rel="nofollow" id="diginesis-logo" data-aos="fade-right" target="_blank" media>
    <img src="https://www.diginesis.com/sites/all/themes/proma/logo.png" alt="diginesis"/>
  </a>
</home-project-panel>

<home-project-panel id="netlup-panel" title="3-Month Paid Internship"
  [features]="['Summer of 2022', 'Developed a tool for data compression using C++']">
  <a href="https://www.netlup.com/" rel="nofollow" id="netlup-logo" data-aos="fade-right" target="_blank" media>
    <img src="https://www.netlup.com/assets/logos/netluptechnologieslogo_1.png" alt="netlup"/>
  </a>
</home-project-panel>

<home-project-panel id="wordle-panel" title="Romanian Wordle"
                    [features]="['Includes a full UI', 'Includes an optimum solver', 'Finds words in miminum amount of guesses']">
  <a id="wordle-images" data-aos="fade-right" target="_blank" media>
    <div id="letter-w"></div>
    <div> O </div>
    <div> R </div>
    <div> D </div>
    <div> L </div>
    <div> E </div>
  </a>
</home-project-panel>
