<ngt-canvas *ngIf="robot$ | async as robot; else spinner">
    <ng-container >
<!--      <ngt-primitive [object]="robot.scene" (beforeRender)="onBeforeRender($event.object)"-->
<!--                     [rotation]="[0.2, 0, 0]"-->
<!--                     [position]="(mobile.isMobile$ | async) ? [0, -1, 0] : [0, -0.5, 0]"-->
<!--                     [scale]="(mobile.isMobile$ | async) ? [0.07, 0.07, 0.07] : [7, 7, 7]"></ngt-primitive>-->
      <ngt-primitive [object]="robot.scene" (beforeRender)="onBeforeRender($event.object)"
                     [rotation]="[0.2, 0, 0]"
                     [position]="[0, -1, 0]"
                     [scale]="(mobile.isMobile$ | async) ? [0.07, 0.07, 0.07] : [0.07, 0.07, 0.07]"></ngt-primitive>
    </ng-container>
  <ngt-directional-light [position]="[0, 1, 2]" color="white"></ngt-directional-light>
</ngt-canvas>

<ng-template #spinner>
  <figure id="loading-placeholder">
<!--    <mat-spinner></mat-spinner>-->
    <img id="robot" [src]="'static-images/robot.png' | CDN" alt="robot"/>
  </figure>
</ng-template>
