<div id="outer-panel" [ngClass]="{'mobile-contact': mobile.isMobile$ | async}">
  <div id="inner-panel">
    <h1 id="title">
      Need a developer on your team or help with a project? Let's talk about it!
    </h1>
    <h2 id="email">
      You can reach me at <span class="golden-text">{{ email }}</span>
    </h2>
    <div id="button-row">
      <a href="mailto:{{ email }}" id="email-button" matRipple>
        <mat-icon aria-hidden="false" aria-label="Email Icon" fontIcon="mail"></mat-icon>
        Contact Me
      </a>
      <a href="https://www.linkedin.com/in/mario-deaconescu" target="_blank" id="linkedin-button" matRipple>
        <img src="assets/linkedin.svg" alt="linkedin icon" />
        LinkedIn
      </a>
    </div>
  </div>
</div>
